html {
    font-family: "Raleway";
    height: 100%;
    width: 100%;
    margin: 0;
    min-width:300px;
    min-height:auto;
    background-color: #282D5E;
}

a {
    text-decoration: none;
}

#splash {
    height:100%;
    width:100vw;
    background-color: #282D5E;
    position: absolute;
    background-image: url(../assets/logowhite.png);
    opacity: 0;
    background-size: 256px 288px;
    background-position: center;
    background-repeat: no-repeat;
}

/* ------------------ Hero Image -----------------*/
#wrapper {
    display: none;
    flex-direction: column;
    background-color: #282D5E;
    justify-content: space-around;
}

#caption {
    display: -webkit-flex;     
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 40px;
}

#caption h1 {
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin: 30px;
}

#content {
    padding: 0;
    margin: 0;
    display: -webkit-flex;     
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#information, #contactForm {
    width: 40%;
    height: auto;
}

#information:before{
    content:"";
    float:left;
    padding-top: 70%;
}

#information {
    display: -webkit-flex;     
    display: flex;
    background-color: #282D5E;
    justify-content: flex-end;
}

#contactForm {
    background-color: #282D5E;
}

#infoContainer {    
    display: -webkit-flex;     
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10%;
}

#infoCaption {
    font-size: 28px;
    font-weight: 600;
    color:white;
    margin: 30px 0;
}
.icon {    
    display: -webkit-flex;     
    display: flex;
    align-self: flex-start;
    margin: 5px 0;
    justify-content: flex-start;
    align-items: flex-start;
}

address {
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-style: normal;
}

#emailBox img {
    height: 25px;
    width: 39px;
    margin-right: 10px;
}

#linkedinBox address{
    margin-top: 10px
}
#linkedinBox img {
    height: 41px;
    width: 39px;
    margin-right: 10px;
}

#locationBox img {
    height: 45px;
    width: 39px;
    margin-right: 10px;
}
#locationBox p{
    color: white;
    margin-top: 10px;
}

#contactForm {
    display: -webkit-flex;     
    display: flex;
    flex-direction: column;
}

#field {
    display: -webkit-flex;     
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: center;
    align-items: center;
    border:0;
    border-left: 1px solid rgba(255, 255, 255, 0.74);
}

#name {
    width:80%;
    margin:10px 10%;
    padding: 5px;
    height:30px;
    border:0;
    border-radius: 3px;
    box-shadow: 0 1px 10px white;
}

#email {
    width:80%;
    margin:10px 10%;
    padding: 5px;
    height:30px;
    border:0;
    border-radius: 3px;
    box-shadow: 0 1px 10px white;
}

#message {
    width:80%;
    margin:10px 10%;
    padding: 5px;
    min-height:100px;
    border:0;
    border-radius: 3px;
    box-shadow: 0 1px 10px white;
}

#submit {
    width:82%;
    margin:10px 8% 10px 10%;
    padding: 5px;
    color: white;
    border: 0;
    border-radius: 5px;
    background-color: #f2994a;
    height:30px;
    box-shadow: 0 1px 10px white;
}




/* ------- Footer ------*/
#footer {
    background-color: #282D5E;
    max-height: 400px;
    height: 350px;
    width: 100%;
    color: white;
    display: -webkit-flex;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#footer img {
    height: 80px;
    width: 71px;
    margin: 60px auto 10px auto;
    display: block;
    
}

#footer p {
    color: white;
    font-size: 14px;
    margin-bottom: 40px;
    order: 1;
}

#icons {
    margin-bottom: 30px;
    display: -webkit-flex;     
    display: flex;
    order: 0;
}

#footer #linkedinIcon {
    margin-top:20px;
    height: 31px;
    width: 29px;
}

#footer #emailIcon {
    margin-top: 20px;
    margin-left:10px;
    height: 25px;
    width: 39px;
}


/* ------- Mobile Optimization -----*/
@media all and (max-width: 1500px) {
    #infoContainer {margin-right: 20%;}
}
@media all and (max-width: 1185px) {
    #infoContainer {margin-right: 40%;}
}

@media all and (max-width: 820px) {
    #information, #contactForm {width: 50%;}
}

@media all and (max-width: 643px) {
    #infocaption, .icon {margin-left:5%; margin-right: 5%;}
    #wrapper {flex-wrap: wrap;}
    #content {flex-direction: column;}
    #infoCaption {align-self: center; margin: 10px auto;}
    #contactForm {width:100%; text-align: center;}
    #infoContainer {margin:auto; width:80%; justify-content: center; align-items: center;}
    #information:before {padding-top:40%;}
}
@media all and (max-width: 620px) {
    #wrapper {flex-wrap: wrap;}
    #content {flex-direction: column;}
    #information, #contactForm {width:100%;}
}
@media all and (max-width:422px) {
    #subcontent a {
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {
    .sidenav a {font-size: 18px; padding: 20px;}
    
}


