html {
    font-family: "Raleway";
    height: 100%;
    width: 100%;
    margin: 0;
    min-width:300px;
    min-height:auto;
}

#splash {
    height:100%;
    width:100%;
    background-color: #282D5E;
    position: absolute;
    background-image: url(../assets/logowhite.png);
    opacity: 0;
    background-size: 256px 288px;
    background-position: center;
    background-repeat: no-repeat;
}

/* ------------------ Hero Image -----------------*/
#wrapper {
    display: none;
    flex-direction: column;
    background-color: #282D5E;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    min-width: 70%;
    margin: auto 15%;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
   
}

#container h3 {
    font-size: 30px;
    align-self: flex-start;
    margin: 30px 10%;
}

#emailBox, #linkedinBox, #locationBox {
    display:flex;
    align-self: flex-start;
    margin: 5px 10%;
    justify-content: flex-start;
    align-items: flex-start;
}
a {
    text-decoration: none;
}
address {
    margin-top: 5px;
    text-decoration: none;
    color: white;
    font-style: normal;
}

#linkedinBox address {
    margin-top: 10px;
}

#emailBox img {
    height: 25px;
    width: 39px;
    margin-right: 10px;
}

#linkedinBox img {
    height: 41px;
    width: 39px;
    margin-right: 10px;
}

#locationBox img {
    height: 32px;
    width: 28px;
    margin-right: 20px;
}

/* ------- Footer ------*/
#footer {
    background-color: #282D5E;
    max-height: 400px;
    height: 350px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer img {
    height: 80px;
    width: 71px;
    margin: 60px auto 10px auto;
    display: block;
    
}

#footer p {
    color: white;
    font-size: 14px;
    margin-bottom: 40px;
    order: 1;
}

#icons {
    margin-bottom: 30px;
    display: flex;
    order: 0;
}

#footer #linkedinIcon {
    margin-top:20px;
    height: 31px;
    width: 29px;
}

#footer #emailIcon {
    margin-top: 20px;
    margin-left:10px;
    height: 25px;
    width: 39px;
}


/* ------- Mobile Optimization -----*/

@media all and (max-width:1050px) {
    #subcontent {
        flex-flow: row wrap;
        align-content: center;
    }
    .square {
        flex-basis:50%;
    }
    
}

@media all and (max-height:600px) {

}
@media all and (max-width:668px) {
    #subcontent a {
        font-size: 30px;
    }

    #desktopHeroImage {
        display: none;
    }

    #mobileHeroImage {
        display: block;
    }
}


@media all and (max-width:422px) {
    #subcontent a {
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {
    .sidenav a {font-size: 18px; padding: 20px;}
    
}


